Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
*.md
MULTIPLAYER_SETUP.txt
MULTIPLAYER_SETUP.txt
Backup/Labrynth_Project.sln
*.sln